body {
  display: flex;
}
div#sidebar {
  padding: 20px;
  width: 300px;
  overflow: hidden;
}
div#main {
  padding: 20px;
  width: 700px;
  /* overflow: hidden; */
}
div#chart-video {
  display: flex;
}
div#map-container {
  display: flex;
  justify-content: space-around;
  margin: 100 auto;
  width: 600px;
}
div#map {
  width: 100%;
  height: 100%;
}
div#pano {
  width: 100%;
  height: 100%;
}