body {
  display: flex;
}
div#sidebar {
  padding: 20px;
  width: 300px;
  overflow: hidden;
}
div#main {
  padding: 20px;
  width: 700px;
  /* overflow: hidden; */
}
div#chart-video {
  display: flex;
}